.container {
  max-width: 90rem;
  max-height: 64rem;

  margin-inline: auto;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  justify-content: center;
  gap: .5rem;

  margin-top: calc(0px - 1.6875rem);
}

.form input {
  width: 39.875rem;
  height: 3.375rem;

  background-color: var(--gray-500);
  border: 1px solid var(--gray-700);
  border-radius: 8px;

  padding: 1rem;

  color: var(--gray-300);
  line-height: 1.4;
  font-weight: 400;
}

.form input:focus {
  border: 1px solid var(--purple-dark);
}

.form button {
  width: 5.625rem;
  height: 3.25rem;

  background-color: var(--blue-dark);
  border-radius: 8px;
  border: none;

  color: var(--gray-100);
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.4;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;

  cursor: pointer;

  transition: background-color .2s;
}

.form button:hover {
  background-color: var(--blue);
}

.toDoList {
  width: 46rem;
  height: 17.9375rem;

  margin-top: 4rem;

  background-color: transparent;
}

.headerList {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 2rem;
}

.headerList > strong {
  color: var(--blue);
  font-size: 0.875rem;
  font-weight: 700;
}

.headerList strong:nth-child(2){
  color: var(--purple);
}

.headerList span {
  width: 25px;
  height: 19px;

  padding: 2px 8px;

  background-color: var(--gray-400);
  border-radius: 999px;

  color: var(--gray-200);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 1.5rem;
  padding: 4rem 1.5rem;

  border-top: 1px solid var(--gray-400);
  border-radius: 8px;

  color: var(--gray-300);
  line-height: 1.4;
}

.main strong {
  margin-top: 1rem;
}
